.navbar{
    background-color: #1A5319;
    margin: 0px;
    padding: 20px 0;
    width: 100%;
    display:flex;
    text-decoration: none;
    align-items: center;
    list-style: none;
    font-size: 22px;
    position: absolute;
    justify-content: flex-end;
    margin-bottom: 0;

}
@font-face {
    font-family: 'wizard';
    src: url('font/MagicSchoolOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
  @font-face {
    font-family: 'hobbit';
    src: url('font/hobbit.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
.navbar ul{
    list-style: none;
    align-items: center;
    display: flex;
}
.navbar li a{
	padding:10px;
	color: white; 
	text-decoration: none;
    font-family: 'kal';
    white-space: nowrap;
}
.navbar li{
    padding: 16px;
    margin-left: 10px;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
}
.navbar a:hover {
    color: black;
    background-color: #D6EFD8;
    border-radius: 10px;
  }
.navbar a.active{
    color: #9290C3;
    text-align: center;
    
}
.toleft a{
    margin-right: 580px;
}

html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}
.kotak{
    background-color: #A1DD70;
    padding: 15px;
    width: 1300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0px;
    left: -15px;
    top: 150px;

}
body{
    margin: 0%;
    background-image: url(../img/backgroundladybug.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    padding: 0%;
    font-family: 'roman';
}
footer{
    background-image: url(../img/daun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 90px; 
    position: relative;
    text-align: center; 
    top: 600px;
    bottom: 10px;
    height: 10%;
    width: 100%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#D6EFD8;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay;
}
#logofot{
    position: relative;
    height: 50px;
    width: auto;
    bottom: -20px;
}
.profil {
    text-align: center;
    font-family: 'roman';
    background-color: aliceblue;
    padding: 90px;
    position: relative;
    top: 185px;
    box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.3);
    border-radius: 10px;

  }


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
ul.info{
    list-style: none;
    margin-top: -50px;
    font-family: 'roman';
}
ul.info li {
    margin-bottom: 10px; 
    text-align: center; 
  }